.Login {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5rem;
    max-width: 600px;
    background: #fff;
    padding: 0 2rem 2rem 2rem;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    margin-top: 2rem;
}
.text {
    color: #ff0000;
    font-size: 3rem;
    font-weight: 700;
}
.underline {
    width: 4rem;
    height: 5px;
    background: #ff0000;
    border-radius: 10px;
}
.Login .inputs {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 5rem;
    background: #eaeaea;
    border-radius: 5px;
}
.input img {
    margin: 0 2rem;
}
.input input {
    height: 3rem;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 1.2rem;
}
.register-wrapper {
    margin-top: 1rem;
}
.register-wrapper span a {
    color: #ff0000;
    text-decoration: none;
}
.register-wrapper span a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.submit-container {
    display: flex;
    justify-content: center;
}
.submit {
    margin-top: 1rem;
    width: 220px;
    height: 4rem;
    color: #fff;
    background: #ff0000;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    transition: 0.5s ease-in-out;
}
.submit:hover {
    color: #ff0000;
    background: #eaeaea;
}